/* Dashboard Page */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Set a custom background color for the header */
.header {
    background-color: #007bff;
    /* Replace 'your-banner-image.jpg' with the path to your banner image */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo {
    max-width: 70%;
    /* Adjust the logo size as needed */
}

.header-logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-logout button {
    background-color: #e74c3c;
    color: #fff;
}

.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 25%;
}

.sidebar ul {
    list-style: none;
    margin-left: -30px;
}


.profile-photo {
    text-align: center;
}

.profile-photo img {
    width: 150px;
    /* Adjust the size of the profile photo */
    border-radius: 50%;
    /* Make it round */
}

.sidebar a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: #fefefe;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;

}

.sidebar a:hover {
    text-decoration: none;
    color: #EC6746 !important;
}


.dashboard-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    position: relative;
    /* Added to enable absolute positioning */
}

h1 {
    color: #333;
    font-size: 24px;
}

select,
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Position the logout button */
#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    /* Button style */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #c0392b;
    /* Hover style */
}


.column {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f1;
}

.upcoming-events {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px 0;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 18px;
    margin: 0;
}

.name {
    font-weight: bold;
}

.work-anniversary {
    color: #3498db;
}


.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.option i {
    margin-right: 10px;
}

.form-container {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-left: 10px;
}

.result-container {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-left: 10px;
    max-width: 30%!important;
}

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}
/* Dashboard Page End*/